@using ViewModel.Common;
@model PageResultAssign<ViewModel.Catalog.Document.CategoryAssignResult>

@{
    ViewData["Title"] = "Assign Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script>
        setTimeout(function () {
            $('msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <h1 class="mt-4">@Model.item.Document.Name</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home Page</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Document">Document</a></li>
        <li class="breadcrumb-item active">Assign Category</li>
    </ol>

    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-controller="Document" asp-action="Index">Back</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="IndexAssignCategory">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" value="@ViewBag.KeywordAssign" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Search</button>
                                <button type="button" onclick="window.location.href = '/Document/IndexAssignCategory/@Model.item.Document.Id'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            @if (ViewBag.SuccessMsgAssign != null)
            {
                <div id="msgAlert" class="alert alert-success" role="alert">
                    @ViewBag.SuccessMsgAssign
                </div>
            }
        </div>
        <h2>Category nonexistent</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.item.NonExistCategory)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @using (Html.BeginForm("AddCategory", "Document"))
                                {
                                    <input type="hidden" name="categoryId" value="@item.Id">
                                    <input type="hidden" name="documentId" value="@Model.item.Document.Id">
                                    <button class="btn btn-info">Choose</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
    <br />
    <h2>Category existent</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.item.ExistsCategory)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @using (Html.BeginForm("DeleteCategory", "Document"))
                            {
                                <input type="hidden" name="categoryId" value="@item.Id">
                                <input type="hidden" name="documentId" value="@Model.item.Document.Id">
                                <button class="btn btn-info">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
